@tailwind base;
@tailwind utilities;
@tailwind components;

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

h1 {
  @apply text-2xl sm:text-3xl font-bold;
}

h2 {
  @apply text-xl sm:text-2xl font-bold;
}

a {
  @apply hover:underline;
}

.section-bg {
  @apply sm:py-12 bg-background w-screen -translate-x-5 sm:-translate-x-10 sm:px-10 max-w-[1320px] rounded;
}

main {
  min-height: calc(100vh - 360px);
}

.section-booking {
  @apply bg-white sm:shadow-md rounded sm:px-8 sm:py-5;
}

@media (min-width: 768px) {
  .section-booking {
    max-width: calc(100% - 250px - 4rem);
  }
}

.PhoneInputInput {
  @apply mt-1 block w-full rounded-md shadow-sm focus:border-primary-200 focus:ring-primary-200 sm:text-sm !important;
}

p {
  @apply mb-2;
}
