@tailwind base;
@tailwind utilities;
@tailwind components;

h1 {
  @apply text-2xl font-bold;
}

h2 {
  @apply text-xl font-bold;
}

a {
  @apply hover:underline;
}

.section-bg {
  @apply py-12 bg-background w-screen -translate-x-5 sm:-translate-x-10 px-10 max-w-[1320px] mt-6 rounded;
}
