@tailwind base;
@tailwind utilities;
@tailwind components;

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

h1 {
  @apply text-2xl font-bold;
}

h2 {
  @apply text-xl font-bold;
}

a {
  @apply hover:underline;
}

.section-bg {
  @apply py-12 bg-background w-screen -translate-x-5 sm:-translate-x-10 px-10 max-w-[1320px] rounded;
}

main {
  min-height: calc(100vh - 360px);
}

.section-booking {
  @apply bg-white shadow-md rounded px-8 py-5;
}
